name: tests

on:
  pull_request:
    types: 
      - opened
      - synchronize
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - run: npm i -g @antfu/ni
      - name: Install dependencies
        run: nci
      - run: nr snapshot --timeout 60000
      - run: git diff --exit-code slides-export 
      - name: Upload ci exported slides on failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          path: slides-export
          retention-days: 1
